body {
  padding: 1em;
  font-family: "Oswald";
}

* {
  margin: 0;
  padding: 0;
}

.legend {
  color: #333;
}

.speedbox {
  margin: 1em;
  height: 200px;
  width: 300px;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  align-items: center;
  -webkit-align-items: center;
  position: relative;
}

.speedbox__groove {
  height: 200px;
  width: 300px;
  background: transparent;
  border-top-left-radius: 200px;
  border-top-right-radius: 200px;
  /* border: 30px solid #AE71FF; */
  border: 30px solid #B74243; 
  border-bottom: 0;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
}

.speedbox__score {
  position: absolute;
  left: 0;
  top: 0;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  height: 300px;
  width: 300px;
  background: transparent;
  border-radius: 50%;
  /* border: 40px solid #5c6f7b; */
  border: 30px solid #FF3B43; 
  /* border-color: transparent transparent #8E30CF #8E30CF; */
  border-color: transparent transparent #FF3B43 #FF3B43;
  /* FF2343 */
  box-sizing: border-box;
  cursor: pointer;
  z-index: 1;
  transition: transform 0.3s ease;
}

.speedbox__base {
  width: 360px;
  height: 160px;
  background: #2c3e50;
  position: relative;
  top: 140px;
  z-index: 20;
}

.speedbox:before {
  content: "";
  width: 240px;
  position: absolute;
  top: 0;
  box-shadow: 1px 3px 15px rgba(0, 0, 0, 0.5);
}

.speedbox__odo {
  text-align: center;
  position: absolute;
  /* color: #5c6f7b; */
  color: #F2F2E9;
  bottom: 60px;
  left: 50%;
  transform: translateX(-50%);
}

i {
  font-size: 13px;
  opacity: 0.6;
}
div {
  margin-bottom: 0;
}
span {
  font-size: 0.7em;
}

.speedbox__ping {
  font-size: 13px;
}
.speedbox__up {
  font-size: 13px;
  line-height: 1.5em;
}
.speedbox__down {
  font-size: 25px;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  line-height: 1.2em;
}
